
name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18' # Potrivi»õi cu versiunea dvs. de dezvoltare
        cache: 'npm'
        
    - name: Install dependencies
      run: npm install

    - name: Build web app
      run: npm run build
      
    - name: Install Capacitor CLI
      run: npm install @capacitor/cli@latest
      
    - name: Sync Capacitor project
      run: npx cap sync android

    - name: Grant execute permission for gradlew
      run: chmod +x android/gradlew
      
    - name: Build with Gradle
      run: ./android/gradlew -p android/ assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        path: android/app/build/outputs/apk/debug/app-debug.apk
